body{
background-image: url(img/SPACE.svg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: cover;   
border: none;
box-shadow: none;
border-style: none;
}
img {


}
.spaceobj{
position:fixed;
margin: auto;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
background: none;
}



#sol{
z-index: 8;
width: 10%;
-webkit-animation: stroler 5s infinite linear;  
}

  
    

@-webkit-keyframes stroler{
		0% {
				filter: brightness(1);
          
		}
   	50% {
			filter: brightness(1.3);
      
           
    }
		100% {
			filter: brightness(1);
            
    }}  


#Merkur{
    z-index: 7;
    width: 15%;
    -webkit-animation: merkur 3s infinite linear;
}

#Merkur:hover{
    
}

@-webkit-keyframes merkur{
		0% {
				-webkit-transform: rotate(0deg);
         
		}
   
		100% {
				-webkit-transform: rotate(360deg);
           
    }}

#Venus{
        z-index: 2;
    width: 25%;
    -webkit-animation: venus 7.5s infinite linear;
}
@-webkit-keyframes venus{
		0% {
				-webkit-transform: rotate(0deg);
         
		}
   
		100% {
				-webkit-transform: rotate(360deg);
           
    }}    
    
#Jorda{
        z-index: 6;
    width: 35%;
    -webkit-animation: jorda 12s infinite linear;
}
@-webkit-keyframes jorda{
		0% {
				-webkit-transform: rotate(0deg);
         
		}
   
		100% {
				-webkit-transform: rotate(360deg);
           
    }}    
    

#Mars{
        z-index: 4;
    width: 42%;
    -webkit-animation: mars 23s infinite linear;

}
@-webkit-keyframes mars{
		0% {
				-webkit-transform: rotate(0deg);
         
		}
   
		100% {
				-webkit-transform: rotate(360deg);
           
    }}    



#Astroide{z-index: 3;
width: 70%;
  -webkit-animation: astroide 40s infinite linear;    
}

@-webkit-keyframes astroide{
		0% {
				-webkit-transform: rotate(0deg);
         
		}
   
		100% {
				-webkit-transform: rotate(-360deg);
           
    }}    

#Astroide2{z-index: 3;
width: 70%;
  -webkit-animation: astroide2 42s infinite linear;    
}

@-webkit-keyframes astroide2{
		0% {
				-webkit-transform: rotate(0deg);
         
		}
   
		100% {
				-webkit-transform: rotate(-360deg);
           
    }}    

#Astroide3{z-index: 3;
width: 70%;
  -webkit-animation: astroide3 44s infinite linear;    
}

@-webkit-keyframes astroide3{
		0% {
				-webkit-transform: rotate(0deg);
         
		}
   
		100% {
				-webkit-transform: rotate(-360deg);
           
    }}    
#stjerner{
		-webkit-animation: stjernepuls 10s infinite linear;
    width: 100%;
    height: 100%;
    z-index: -1;
    position:fixed;
margin: auto;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
}
@-webkit-keyframes stjernepuls {
		0% {
		
            opacity: 0.6;
		}
    50%{
      
      opacity: 0;
    }
		100% {

       opacity: 0.6;
		}
}
    
#stjerner2{
		-webkit-animation: stjernepuls2 10s infinite linear;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    position:fixed;
margin: auto;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
}
@-webkit-keyframes stjernepuls2 {
		0% {
		
            opacity: 0;
		}
    50%{
      
      opacity: 0.6;
    }
		100% {

       opacity: 0;
		}
}
.dropdwn{border: none;
width: 5%;
background-color: white;
border-radius: 0px 0px 30px 0px; 
left: 0px;
top: 0px;
z-index: 3;
position: fixed;
}
.dropdwn

#gear:hover{
-webkit-animation: gear 3s infinite linear;    
    
}
@-webkit-keyframes gear{
		0% {
				-webkit-transform: rotate(0deg);
         
		}
   
		100% {
				-webkit-transform: rotate(360deg);
           
    }}  


.dropdwn:hover ~ #meny {
    display: block;
}

#meny:hover ~ #gear {
-webkit-animation: gear 3s infinite linear;    
}


#meny:hover{
display: block;
}
#meny{
left: 0px;
top: 0px;
position: fixed;
height: 100%;
background-color: white;
color:  #727272;
display: none;
width: 10%;
z-index: 1;
}

.info{    background-color: white;
    right: 0px;
    position: fixed;
  
    top: 0px;
    height: 100%;
    width: 15%;
    
   text-align: center;
    display: none;
z-index: 14;
color: #727272;
padding: 20px;
}
#Marsinf{

}
#Mars:hover ~ #Marsinf {
    display: block;
}

#sol:hover ~ #solinf{
    
    display: block;
}

#Merkur:hover ~ #Merkurinfo{
    
    display: block;
}
#Jorda:hover ~ #JordaInf{
    display: block;
}

#startskjerm{
    
width: 100%;
height: 100%;
position: fixed;
background-color: white;
z-index: 14;
top: 0px;
left: 0px;
text-align: center;
color: #727272;
display: none;
}



@-webkit-keyframes swipe{
		0% {
			left: 0px;
         top: 0px;
		}
   
		99% {
			
        	left: 0px;
         top: -3000px;   
    }
100% {
			
        	left: 0px;
         top: -3000px;   
  opacity: 0;
    }
}  



#enter:hover{
    color: orange;
}

#enter{
    z-index: 15;
    position: fixed;
    left: 0px;
    right: 0px;
    margin:auto;
    width: 100%;
    display: none;
}